@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Apple Insider</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form action="http://localhost:64018/api/bankaccount" method="POST">
            <p>You have been selected to ao....aoesutnaoesuntaohsenuthaoesunthaeou</p>
            <input placeholder="shipping information" />
            <p>No credit card needed</p>
            <button type="submit">Click here to win a *** free *** iPad</button>
        </form>
    </div>
</div>