<html>
	<head>
		<script src="angular.js"></script>
		<script src="app2.js"></script>
	</head>
	<body ng-app="shopping" ng-controller="products">{{message}}
		<div ng-repeat="product in products">{{product.name}} -> {{product.price | currency}}
			<button ng-click="removeProduct(product)">Remove</button>
		</div>
		<input name="new product name" ng-model="newProductName" />
		<input name="new product price" ng-model="newProductPrice" />
		<select ng-model="newProductCurrencyId"
			ng-options="c.id as c.name for c in currencies">
		</select>
		<button ng-click="addProduct()">Add product</button>
	</body>

</html>